.outline{
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
}

p {
    margin: 0;
    font: Arial;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.number{
    background-color: rgb(66, 108, 236);
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 3px 13px 3px 13px;
    border-radius: 15px;
}