p{
    font-family: Roboto, Arial;
    margin: 0;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

/* .channel-picture{ */
    /* display: inline-block;
    width: 50px;
    vertical-align: top; */
    /* background-color: gray; */
/* } */

/* .video-info{ */
    /* display: inline-block;
    width: 200px; */
    /* background-color: gray; */
/* } */

.search-bar{
    display: block;
}

/* .video-container{ */
    /* width: 300px; */
    /* display: inline-block; */
    /* vertical-align: top; */
    /* margin-right: 5px; */
/* } */

.video-title{
    /* width: 300px; */
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.profile-picture{
    width: 40px;
    border-radius: 50px;
}

.thumbnail{
    /* width: 300px; */
    /* display: block; */
    width: 100%;
}

.thumbnail-row {
    margin-bottom: 12px;
}

/* 用 div 包 img 就算 div 的大小比 img 小，也不影響到 img 大小，會 overflow */

.video-author, .video-status{
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author{
    margin-bottom: 4px;
}