body{
    height: 3000px;
}

.close-button{
    background-color: black;
    color: white;
    position: absolute;
    padding: 4px 10px;
    border-radius: 15px;
    right: 5px;
    cursor: pointer;
}