.body{
    font-family: Arial;
}

.email{
    color: gray;
    margin-top: 10px;
    margin-bottom: 8px;
}

.text-box{
    padding: 8px 140px;
    border-radius: 5px;
}

.clarify{
    color: gray;
}

.agree{
    border: none;
    background-color: rgb(0, 115, 255);
    color: white;
    font-size: 18px;
    padding: 13px 160px;
    border-radius: 25px;
    cursor: pointer;
}

.agree:hover{
    opacity: 0.8;
}

.agree:active{
    opacity: 0.5;
}