p{
    font-family: Arial;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.first {
    color: rgb(245, 99, 0);
    /* font-weight: bold; */
    font-size: 13px;
    margin-bottom: 8px;
}

.sec {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5px;
}

.third{
    font-weight: bold;
    font-size: 39px;
    margin-bottom: 10px;
}

.forth{
    margin-bottom: 15px;
}

.button{
    background-color: rgb(0, 113, 227);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 9px 17px;
    font-weight: bold;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: opacity 0.15s;
}

.button:hover{
    opacity: 0.8;
}

.button:active{
    opacity: 0.5;
}