body{
    font-family: Arial;
}

.title{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.location, .dest{
    display: block;
    border: none;
    background-color: rgb(240, 240, 240);
    color: rgb(119, 118, 119);
    padding: 10px 130px 10px 15px;
    margin-bottom: 5px;
}

.dest{
    margin-bottom: 25px;
}

.request, .schedule{
    border: none;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    margin-right: 10px;
}

.schedule:hover{
    background-color: rgb(204, 204, 204);
}

.schedule:active{
    background-color: rgb(167, 167, 167)
}

.request{
    color: white;
    background-color: black;
}

.request:hover{
    opacity: 0.8;
}

.request:active{
    opacity: 0.6;
}