div{
    background-color: rgb(47, 47, 47);
    width: 370px;
    padding: 20px 0px 10px 20px;
}

p{
    font-family: Arial;
}

.title{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
}

.shit{
    color: gray;
}