.sidebar{
    position: fixed;
    left: 0px;
    bottom: 0;
    top: 55px;
    width: 72px;
    background-color: white;
    z-index: 101;
    padding-top: 5px;
}

@media(min-width:1200px){
    .sidebar{
        width: 216px;
    }
}

.sidebar-link{
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(230, 230, 230);
}
.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-size: 10px;
}

@media (min-width: 1200px) {
    .sidebar-link{
        height: 45px;
        flex-direction: row;
        justify-content: flex-start;
    }
    .sidebar-link img{
        margin: 0px 15px;
    }
    body {
        padding-left: 260px;
    }
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}