.video-grid{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

/* .channel-picture{ */
    /* display: inline-block;
    width: 50px;
    vertical-align: top; */
    /* background-color: gray; */
/* } */

/* .video-info{ */
    /* display: inline-block;
    width: 200px; */
    /* background-color: gray; */
/* } */

/* .video-container{ */
    /* width: 300px; */
    /* display: inline-block; */
    /* vertical-align: top; */
    /* margin-right: 5px; */
/* } */

.video-title{
    /* width: 300px; */
    margin: 0;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.video-title a:link,
.video-title a:visited{
    text-decoration: none;
    color: black;
}

@media (min-width: 1000px){
    .video-title{
        font-size: 16px;
        line-height: 24px;
    }
    .video-author, .video-status {
        font-size: 14px;
    }
}

.profile-picture{
    width: 36px;
    border-radius: 50px;
}

.thumbnail{
    /* width: 300px; */
    /* display: block; */
    width: 100%;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

/* 用 div 包 img 就算 div 的大小比 img 小，也不影響到 img 大小，會 overflow */

.video-author, .video-status {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author{
    margin-bottom: 4px;
}

.video-time{
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    position: absolute;
    background-color: black;
    color: white;
    bottom: 8px;
    right: 5px;
}
