.video-grid{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

/* .test{
    background-color: gray;
} */

.profile-picture{
    width: 36px;
    border-radius: 50px;
}

.channel-picture { 
    position: relative;
    display: flex;
    align-items: flex-start;
    /* background-color: aqua; */
}

.creator-info{
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.491);
    padding: 15px 15px;
    justify-content: space-between;
    align-items: center;
    /* width: 200px; */
    border-radius: 8px;

    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    white-space: nowrap;
    top: 40px;
    left: 20px;
    z-index: 100;
}

.channel-picture:hover .creator-info{
    opacity: 1;
}

.creator-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.creator-name{
    font-weight: 700;
    margin-bottom: 3px;
}

.creator-subscribers{
    color: gray;
}

.profile-picture:hover{
    opacity: 1;
}



/* .video-info{ */
    /* display: inline-block;
    width: 200px; */
    /* background-color: gray; */
/* } */

/* .video-container{ */
    /* width: 300px; */
    /* display: inline-block; */
    /* vertical-align: top; */
    /* margin-right: 5px; */
/* } */

.video-title{
    /* width: 300px; */
    margin: 0;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.video-title a:link,
.video-title a:visited{
    text-decoration: none;
    color: black;
}

@media (min-width: 1000px){
    .video-title{
        font-size: 16px;
        line-height: 24px;
    }
    .video-author, .video-status {
        font-size: 14px;
    }
}

.thumbnail{
    /* width: 300px; */
    /* display: block; */
    width: 100%;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

/* 用 div 包 img 就算 div 的大小比 img 小，也不影響到 img 大小，會 overflow */

.video-author, .video-status {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author{
    margin-bottom: 4px;
}

.video-time{
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    position: absolute;
    background-color: black;
    color: white;
    bottom: 8px;
    right: 5px;
}
